<h1>Listing list_products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list_products.each do |list_product| %>
      <tr>
        <td><%= list_product.name %></td>
        <td><%= link_to 'Show', list_product %></td>
        <td><%= link_to 'Edit', edit_list_product_path(list_product) %></td>
        <td><%= link_to 'Destroy', list_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List product', new_list_product_path %>
